header{
    display:flex;
    justify-content:center;
    height:120px;

    

}
body{
    margin:0;
    padding:0;
    text-decoration:none;
    
    
}

.container{
    display:flex;
    width:990px;
    height:100px;
    justify-content:space-between;
}
.section3 .container{
    display:flex;
    width:990px;
    height:20px;
    justify-content:center;
    background-image: url(assets/images/divisao1.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    
}

.cont_esq_2{
    display:flex;
    flex-direction: column;
    width: 175px;
    height:200px;
    justify-content: space-between;
    align-items: flex-start;

}
.section2{
    display:flex;
    justify-content:center;
    background-color: black;
    width:inherit;
   
    
}
.container2{
    display:flex;
    width:990px;
    height:670px;
    justify-content:space-between;
    align-items: center;
    background-image: url(assets/images/sram.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.container3{
    display:flex;
    width:990px;
    height:670px;
    justify-content:space-between;
    align-items: center;
    background-image: url(assets/images/zobal.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.esq_column,
.dir_column{
    display:flex;
    flex-direction:column;
    width:350px;
    height:550px;
    justify-content: space-between;
    align-items:flex-start;
    

}
.container_esq_baixo{
    display:flex;
    width:350px;
    height:270px;
    justify-content:space-between;
    align-items: center;
    transition:all .5s linear;
    border-radius: 30px;
    
}
.logo{
    display:flex;
    margin-bottom:-70px;
    
    align-items:center;
    
}
.logo img{
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
 }
 .logo img:hover{
 -webkit-transform: scale(1.1);
   transform: scale(1.2);
 }
.menu{
    display:flex;
    align-items:center;
    font-family:'Bebas Neue';
    font-size: 30px;
}
.menu li{
    text-transform: uppercase;
    border-radius:4px;
}

nav li, nav ul {
    list-style:none;
    margin:0;
    padding:0;
}

nav ul{
    display:flex;
    
}

nav a {
    display:block;
    text-decoration:none;
    padding:15px;
    color:#363923;
    font-weight: bolder;
    transition:all .2s linear;
}
.menu a:hover{
    color:#fff;
    background-color:#cbf700;
    text-shadow: 1px 1px 1px black;
    border-radius:5px;
}


.esq_column .esq_cima h1{
    font-family:'Roboto';
    font-weight:bold ;
    color:#cbf700;
    text-shadow:0 1px 0 #fff;
    font-size:50px;
}
.esq_column .esq_cima h3{
    font-family:'Roboto';
    font-weight:bold ;
    color:#cbf700;
    text-shadow:0 1px 0 #fff;
    font-size:30px;
}
.cont_esq_2  h1{
    font-family:'Roboto';
    font-weight:bold ;
    color:#cbf700;
    text-shadow:0px 1px 0 white;
    text-transform: uppercase;
    word-spacing:2px ;
    font-size:20px;
   
}
.cont_esq_2 .conhecer a{
    
    border-radius: 5px;
    font-family:'Roboto';
    font-weight:bold ;
    background-color: #363923;
    display:inline-block;
    padding:15px;
    align-items: flex-start;
    color:#fff;
    
    

}
.link1, .link2 {
    text-decoration:none;
    
}
.link1:visited, .link2:visited{
    text-decoration:none;
}
.conhecer a{
    transition: all .3s linear;
}
.conhecer .link2:hover{
    background-color: #cbf700;
    border-radius: 5px;
    border:3px solid #fff;
    text-shadow: 0 1px 0 #000;
}
.container_esq_baixo:hover{
    background-color: rgba(255, 255, 255, 0.425);
    border-radius:30px;
}

.section3{
    display:flex;
    justify-content:center;
    height:20px;
    background-color:black;
    
    
    
}
.section4{
    display:flex;
    justify-content:center;
    background-color:black;
    width:inherit;
    
    
}
.section4 .esq_column{
    display:flex;
    flex-wrap:wrap;
    width:600px;
    height:550px;
    justify-content: space-between;
    align-items:center;
}
/* inicio estilo css classes do jogo*/

.classesjogo1, .classesjogo2, .classesjogo3, .classesjogo4,
.classesjogo5, .classesjogo6, .classesjogo7, .classesjogo8,
.classesjogo9, .classesjogo10, .classesjogo11, .classesjogo12,
.classesjogo13, .classesjogo14, .classesjogo15,.classesjogo16,
.classesjogo17, .classesjogo18{
    width:140px;
    height:80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 67%;
    border-radius: 5px;
    
}
.classesjogo1{
    background-image:url(assets/images/1.jpg);
}

.classesjogo2{
    background-image:url(assets/images/2.jpg);
    }
.classesjogo3{
    background-image:url(assets/images/3.jpg);   
}
.classesjogo4{
    background-image:url(assets/images/4.jpg);   
}
.classesjogo5{
    background-image:url(assets/images/5.jpg); 
}
.classesjogo6{
    background-image:url(assets/images/6.jpg);
}
.classesjogo7{
    background-image:url(assets/images/7.jpg);
}
.classesjogo8{
    background-image:url(assets/images/8.jpg);
}
.classesjogo9{ 
    background-image:url(assets/images/9.jpg);
}
.classesjogo10{
    background-image:url(assets/images/10.jpg);
}
.classesjogo11{
    background-image:url(assets/images/11.jpg);
}
.classesjogo12{
    background-image:url(assets/images/12.jpg);   
}
.classesjogo13{
    background-image:url(assets/images/13.jpg);
}    
.classesjogo14{
    background-image:url(assets/images/14.jpg);  
}
.classesjogo15{
    background-image:url(assets/images/15.jpg);   
}
.classesjogo16{
    background-image:url(assets/images/16.jpg);
}
.classesjogo17{
    background-image:url(assets/images/17.jpg);
}    
.classesjogo18{
    background-image:url(assets/images/18.jpg);
}


.classesjogo1:hover, .classesjogo2:hover, .classesjogo3:hover, .classesjogo4:hover,
.classesjogo5:hover, .classesjogo6:hover, .classesjogo7:hover, .classesjogo8:hover,
.classesjogo9:hover, .classesjogo10:hover, .classesjogo11:hover, .classesjogo12:hover,
.classesjogo13:hover, .classesjogo14:hover, .classesjogo15:hover,.classesjogo16:hover,
.classesjogo17:hover, .classesjogo18:hover{
    opacity:100%;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
   
}
/* final estilo css classes do jogo*/

.section4 .dir_column{
    display:flex;
    flex-wrap:wrap;
    width:600px;
    height:550px;
    justify-content: center;
    align-items:center;

}
.section4 .dir_column h1,
.section4 .dir_column h3{
    font-family:'Roboto';
    font-weight:bold ;
    color:#cbf700;
    text-shadow:0px 1px 0 white;
    text-transform: uppercase;
    word-spacing:2px ;
    font-size:40px;
    text-align: center;
}
